  .navbar{
    height: 70px;   
  }

  #landing {
    background-image: url(../images/favicon4.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
  }
  #landing-page {
    height: 660px;
    color: #fe8e0d;
  }
  #landing-h1 {
    text-align: center;
    padding-left: 68%;
    padding-top: 18%;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
  }
  #order {
    background-color: #fcdfbe;
  }
  #h2 {
    height: 80px;
    font-size: larger;
    color: white;
    background-color: #202020;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
  }
  #size,
  #crust,
  #toppings,
  #amount {
    width: 300px;
  }
  form {
    padding: 5%;
    padding-top: 1%;
  }
  table {
    padding: 5%;
    padding-top: 1%;
    padding-right: 10%;
  }
  li {
    list-style: none;
  }
  
  @media only screen and (max-width: 670px) {
    #landing-h1 {
      display: none;
    }
    #landing {
      height: 150px;
    }
  }
  @media only screen and (min-width: 330px) and (max-width: 670px) {
    #landing-h1 {
      display: none;
    }
    #landing {
      height: 350px;
    }
    #h2 {
      padding: 5%;
    }
  }
  
  @media only screen and (min-width: 670x) and (max-width: 800px) {
    #landing-h1 {
      display: none;
    }
    #landing {
      height: 350px;
    }
  }